[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,[{metadata,[request_id]},{format,<<"[$level] $message\n">>}]}]},
 {phoenix,[{stacktrace_depth,20}]},
 {mix_docker,[{image,<<"hello-elixir">>}]},
 {hello,
     [{ecto_repos,['Elixir.Hello.Repo']},
      {'Elixir.HelloWeb.Endpoint',
          [{url,[{host,<<"localhost">>}]},
           {secret_key_base,
               <<"gy6cAyU24kKHCcCqXcXCqiqqt0GvxENy2shkOvVYZOS1MoBnXrm1nC4zxlMR8KQG">>},
           {render_errors,
               [{view,'Elixir.HelloWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Hello.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,4000}]},
           {debug_errors,true},
           {code_reloader,true},
           {check_origin,false},
           {watchers,
               [{node,
                    [<<"node_modules/brunch/bin/brunch">>,<<"watch">>,
                     <<"--stdin">>,
                     {cd,<<"/Users/srachyu/test-elixir-2/hello/assets">>}]}]},
           {live_reload,
               [{patterns,
                    [#{'__struct__' => 'Elixir.Regex',opts => <<>>,
                       re_pattern =>
                           {re_pattern,1,0,0,
                               <<69,82,67,80,166,0,0,0,0,0,0,0,81,0,0,0,255,
                                 255,255,255,255,255,255,255,112,0,47,0,0,0,1,
                                 0,0,0,64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
                                 0,0,0,0,0,0,0,0,0,0,0,131,0,98,29,112,29,114,
                                 29,105,29,118,29,47,29,115,29,116,29,97,29,
                                 116,29,105,29,99,29,47,85,12,133,0,9,0,1,29,
                                 106,29,115,119,0,9,29,99,29,115,29,115,119,0,
                                 9,29,112,29,110,29,103,119,0,11,29,106,29,
                                 112,29,101,29,103,119,0,9,29,106,29,112,29,
                                 103,119,0,9,29,103,29,105,29,102,119,0,9,29,
                                 115,29,118,29,103,120,0,65,25,120,0,98,0>>},
                       re_version => <<"8.41 2017-07-05">>,
                       source =>
                           <<"priv/static/.*(js|css|png|jpeg|jpg|gif|svg)$">>},
                     #{'__struct__' => 'Elixir.Regex',opts => <<>>,
                       re_pattern =>
                           {re_pattern,1,0,0,
                               <<69,82,67,80,112,0,0,0,0,0,0,0,81,0,0,0,255,
                                 255,255,255,255,255,255,255,112,0,111,0,0,0,
                                 1,0,0,0,64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
                                 0,0,0,0,0,0,0,0,0,0,0,0,131,0,44,29,112,29,
                                 114,29,105,29,118,29,47,29,103,29,101,29,116,
                                 29,116,29,101,29,120,29,116,29,47,85,12,133,
                                 0,9,0,1,29,112,29,111,120,0,9,25,120,0,44,0>>},
                       re_version => <<"8.41 2017-07-05">>,
                       source => <<"priv/gettext/.*(po)$">>},
                     #{'__struct__' => 'Elixir.Regex',opts => <<>>,
                       re_pattern =>
                           {re_pattern,1,0,0,
                               <<69,82,67,80,126,0,0,0,0,0,0,0,81,0,0,0,255,
                                 255,255,255,255,255,255,255,108,0,120,0,0,0,
                                 1,0,0,0,64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
                                 0,0,0,0,0,0,0,0,0,0,0,0,131,0,58,29,108,29,
                                 105,29,98,29,47,29,104,29,101,29,108,29,108,
                                 29,111,29,95,29,119,29,101,29,98,29,47,29,
                                 118,29,105,29,101,29,119,29,115,29,47,85,12,
                                 133,0,9,0,1,29,101,29,120,120,0,9,25,120,0,
                                 58,0>>},
                       re_version => <<"8.41 2017-07-05">>,
                       source => <<"lib/hello_web/views/.*(ex)$">>},
                     #{'__struct__' => 'Elixir.Regex',opts => <<>>,
                       re_pattern =>
                           {re_pattern,1,0,0,
                               <<69,82,67,80,136,0,0,0,0,0,0,0,81,0,0,0,255,
                                 255,255,255,255,255,255,255,108,0,120,0,0,0,
                                 1,0,0,0,64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
                                 0,0,0,0,0,0,0,0,0,0,0,0,131,0,68,29,108,29,
                                 105,29,98,29,47,29,104,29,101,29,108,29,108,
                                 29,111,29,95,29,119,29,101,29,98,29,47,29,
                                 116,29,101,29,109,29,112,29,108,29,97,29,116,
                                 29,101,29,115,29,47,85,12,133,0,11,0,1,29,
                                 101,29,101,29,120,120,0,11,25,120,0,68,0>>},
                       re_version => <<"8.41 2017-07-05">>,
                       source => <<"lib/hello_web/templates/.*(eex)$">>}]}]}]},
      {'Elixir.Hello.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"srachyu">>},
           {password,<<"HelloWorld">>},
           {database,<<"hello_dev">>},
           {hostname,
               <<"mydbinstance.czuaexw1qgyo.us-west-2.rds.amazonaws.com">>},
           {pool_size,10}]}]}].
